extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de Nosotros")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel nibh in ligula finibus consequat. Aliquam ut laoreet lacus. Suspendisse potenti. Phasellus hendrerit odio id mi pellentesque placerat. Duis quis tortor dignissim, accumsan velit at, ullamcorper odio.
                p Donec et lacus non mi mollis hendrerit id quis urna. Suspendisse condimentum efficitur justo vel aliquet. Duis at leo rhoncus, rhoncus magna nec, pharetra dui. Aenean maximus non risus non sollicitudin. Aliquam ex metus, sodales auctor lectus a, laoreet pellentesque velit. Aenean varius arcu eu finibus imperdiet. Suspendisse ac accumsan erat. Vivamus vel ante at lorem malesuada tincidunt pulvinar vitae risus. Donec vel metus ac ipsum scelerisque feugiat vitae vel dui. Praesent vehicula euismod augue, quis dapibus turpis dapibus non.
                p Proin sit amet mauris facilisis, vestibulum odio a, bibendum magna. Nunc aliquam tempor libero, a rutrum dui aliquet vel. Quisque ipsum libero, mattis vel mauris vitae, laoreet aliquet metus.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4" alt="Ícono de seguridad")
                    h2.mb-4 Seguridad
                    p Nullam ac bibendum justo, a egestas elit. Nullam at lectus porttitor, viverra dolor sed, euismod turpis. Vestibulum ante libero, sollicitudin quis dui non, condimentum mollis orci.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4" alt="Ícono de destinos")
                    h2.mb-4 Mejores Destinos
                    p Nullam ac bibendum justo, a egestas elit. Nullam at lectus porttitor, viverra dolor sed, euismod turpis. Vestibulum ante libero, sollicitudin quis dui non, condimentum mollis orci.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4" alt="Ícono de precio")
                    h2.mb-4 Mejor Precio
                    p Nullam ac bibendum justo, a egestas elit. Nullam at lectus porttitor, viverra dolor sed, euismod turpis. Vestibulum ante libero, sollicitudin quis dui non, condimentum mollis orci.