extends ../layout/index
block slider
    .slider
        h1 Rio de Janeiro
        em aventura
block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Ut a est nisl. Duis quis nulla in lacus sodales laoreet id ut mauris. Mauris malesuada id risus at commodo. Aliquam erat volutpat. Nulla dictum rutrum faucibus. Sed auctor efficitur ex, id consectetur mauris convallis quis. Mauris cursus volutpat malesuada. Nunc efficitur ligula sed rutrum lacinia. Nam non condimentum lectus, nec sodales tortor.
                p Pellentesque aliquet metus sit amet lorem dapibus semper. Sed sapien ex, suscipit in lacus ut, sollicitudin pulvinar nibh. Fusce dictum et lorem non eleifend. Suspendisse viverra nisi odio, ac lacinia nibh tempor vitae.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="Sobre nosotros" class="img-fluid")
        h2.text-center.mb-5 Próximos viajes
        include ../layout/partials/viajes
    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo 2019 - 28 de Marzo de 2019
                        p.precio $2,500 USD
    .container
        h2.text-center.my-5 Testimoniales
        include ../layout/partials/testimoniales